@charset "UTF-8";
html {
	position:relative; 
  	min-height: 100%;
}
/*Normalize html and body elements*/
html,body{
  margin:0;
  padding:0;}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
    background: #545d68;
    font-size: 1rem;
    line-height: 1.5em;
    display: block;
    min-height: 100vh;
}

/*CONTENEDORES*/
div.container {
	margin: 3rem auto;
}

div.small-box {
	max-width: 400px;
}

div.long-box {
	max-width: 900px;
}

.box-border {
	padding: 2rem;
}

.centrar-texto {
	text-align: center;
}


h6 {
	background-color: #cdd9e5;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid orange;
}

/*BOTONES*/
.order-btns {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.order-btns a {
	min-width: 12rem;
	margin: 5px auto;
}

.btn-ver-carrito {
	width: 9rem;
}

.btn-volver {
	width: 5rem;
	background-color: #cdd9e5;
	border-color: #212529;
	color: #212529;
}

.btn-menu {
	background-color: #373e47;
	color: #ced4da;
}
.btn-menu:hover {
	background-color: #b8d7ff;
	font-weight: 500;
}

.btn-salir {
	background-color: #dc3545;;
	color: white;
}
.btn-salir:hover {
	background-color: #ced4da;
}

.btn-volver, .btn-crear-art {
	margin: 0 auto 0 0;
}

.btn-crear-art {
	margin-bottom: 15px;
}

.btn-ver-carrito {
	float: right;
}

.btns-banco, .btn-confirmar {
	width: 9rem;
	margin: 0 auto;
}


/*FOOTER*/
footer {
	position: absolute;
	bottom: 0;
	/*height: 20px;*/
	line-height: 1.5em;
	width: 100%;
	background: #212529;
	font-size: .9rem;
    text-align: center;
    align-items: center;
}

footer p {
    margin: 5px auto;
    color: #cdd9e5;
}

footer a {
	text-decoration: none;
	font-weight: 700;
	color: #6cb6ff;
}
